package components

templ navTemplate() {
	<nav data-testid="navTemplate">
		<div class="card-buttons">
			<a href="/">Home</a>
			<a href="/anime">Anime</a>
			<a href="/assets">Assets</a>
			<a href="/parser/animelayer">AnimeLayer Scanner</a>
		</div>
	</nav>
}