package scripts 

script ResetFilters(target templ.JSExpression) {
	target.form.querySelectorAll('input').forEach(function(input) {
		switch(input.type) {
		case 'checkbox':
			input.checked = false;
			break
		case 'text':
			input.value = ""
			break
		form = input.form
		}
	});
	htmx.trigger('body','custom-event-refresh-filters',{page:1})
}
