package scripts 

script ResetFilters(target templ.JSExpression) {
	target.form.querySelectorAll('input').forEach(function(input) {
		switch(input.type) {
		case 'checkbox':
			input.checked = false;
			break
		case 'text':
			input.value = ""
			break
		form = input.form
		}
	});
	target.form.requestSubmit(null)
}
